
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.about-light-UPe {
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
  width: 100%;
  height: 108rem;

  .vector-1-MyE {
    width: 69.3531rem;
    height: 69.3531rem;
    position: absolute;
    left: 0;
    top: 6.8rem;
    object-fit: contain;
    vertical-align: top;
  }
  .vector-5-J7n {
    width: 45.8776rem;
    height: 44.6497rem;
    position: absolute;
    left: 127.5rem;
    top: 62.4248rem;
    object-fit: contain;
    vertical-align: top;
  }
  .group-12-bcg {
    left: 11.3rem;
    top: 88.9898rem;
    object-fit: contain;
    vertical-align: top;
    width: 3.5rem;
    height: 3.5rem;
    position: absolute;
  }
  .group-9-wAk {
    left: 11.3rem;
    top: 64.9rem;
    object-fit: contain;
    vertical-align: top;
    width: 3.3812rem;
    height: 3.3797rem;
    position: absolute;
  }
  .group-7-5Xr {
    object-fit: contain;
    vertical-align: top;
    width: 3.3777rem;
    height: 3.3797rem;
    position: absolute;
    left: 11.3rem;
    top: 69.8rem;
  }
  .group-8-RLp {
    left: 11.2rem;
    top: 74.7rem;
    object-fit: contain;
    vertical-align: top;
    width: 3.3777rem;
    height: 3.3797rem;
    position: absolute;
  }
  .group-10-LCt {
    height: 3rem;
    position: absolute;
    left: 11.5rem;
    top: 79.5898rem;
    object-fit: contain;
    vertical-align: top;
    width: 3rem;
  }
  .group-11-REL {
    top: 84.1rem;
    object-fit: contain;
    vertical-align: top;
    width: 3.3777rem;
    height: 3.3797rem;
    position: absolute;
    left: 11.3112rem;
  }
  .group-13-ZLY {
    border: solid 0.2rem #000000;
    border-radius: 1.5rem;
    width: 3rem;
    top: 94rem;
    height: 3rem;
    position: absolute;
    left: 11.5rem;
    box-sizing: border-box;
    padding: 0.1rem 0.5rem 0.089rem 0.5rem;

    .kooblackiconyxp27c-1-UCc {
      width: 2rem;
      height: 2.8115rem;
      object-fit: contain;
      vertical-align: top;
      border-radius: 1.2rem;
    }
  }
  .sinhaanishkumaroutlookcom-Xwa {
    color: #000000;
    font-family: Segoe UI, 'Source Sans Pro';
    top: 74.85rem;
    font-size: 1.5rem;
    position: absolute;
    left: 178.3rem;
    display: flex;
    font-weight: 600;
    line-height: 1.2575;
    width: 1.9rem;
    height: 22.7rem;
  }
  .line-2-DpQ {
    top: 102rem;
    background-color: #000000;
    width: 2.9991rem;
    height: 0.5rem;
    position: absolute;
    left: 177.8rem;
  }
  .group-3-kZS {
    left: 176.9rem;
    top: 5.9rem;
    object-fit: contain;
    vertical-align: top;
    width: 4rem;
    height: 4rem;
    cursor: pointer;
    position: absolute;
  }
  .anish-kumar-sinha-HZN {
    top: 6.1rem;
    white-space: nowrap;
    height: 3.2rem;
    position: absolute;
    left: 16.7rem;
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 1.2575;
    color: #000000;
    font-family: Segoe UI, 'Source Sans Pro';
    width: 22.9rem;
  }
  .about-hd6 {
    line-height: 1.2575;
    color: #000000;
    white-space: nowrap;
    height: 2.6rem;
    position: absolute;
    left: 115rem;
    font-size: 2rem;
    font-weight: 600;
    width: 5.2rem;
    top: 6.5rem;
    font-family: Segoe UI, 'Source Sans Pro';
  }
  .frame-2-1tg {
    left: 71.6rem;
    top: 7.4rem;
    overflow: hidden;
    width: 10rem;
    height: 10rem;
    position: absolute;
  }
  .home-Jsn {
    left: 103.9rem;
    font-size: 2rem;
    line-height: 1.2575;
    color: #000000;
    font-family: Segoe UI, 'Source Sans Pro';
    white-space: nowrap;
    width: 5.2rem;
    cursor: pointer;
    position: absolute;
    top: 6.5rem;
    font-weight: 600;
    height: 2.6rem;
  }
  .resume-RhW {
    font-family: Segoe UI, 'Source Sans Pro';
    white-space: nowrap;
    width: 6.9rem;
    position: absolute;
    left: 126.1rem;
    font-size: 2rem;
    color: #000000;
    height: 2.6rem;
    top: 6.5rem;
    font-weight: 600;
    line-height: 1.2575;
  }
  .projects-jy6 {
    font-size: 2rem;
    line-height: 1.2575;
    font-family: Segoe UI, 'Source Sans Pro';
    width: 7rem;
    position: absolute;
    top: 6.5rem;
    color: #000000;
    white-space: nowrap;
    height: 2.6rem;
    left: 149.2rem;
    font-weight: 600;
  }
  .skills-doa {
    font-family: Segoe UI, 'Source Sans Pro';
    width: 4.7rem;
    position: absolute;
    top: 6.5rem;
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.2575;
    color: #000000;
    white-space: nowrap;
    height: 2.6rem;
    left: 139rem;
  }
  .contact-xL4 {
    height: 2.6rem;
    font-size: 2rem;
    font-family: Segoe UI, 'Source Sans Pro';
    white-space: nowrap;
    width: 6.8rem;
    position: absolute;
    left: 162.4rem;
    top: 6.5rem;
    font-weight: 600;
    line-height: 1.2575;
    color: #000000;
  }
  .group-23-252 {
    width: 3.5rem;
    height: 4rem;
    position: absolute;
    left: 11.2rem;
    top: 5.9rem;
    object-fit: contain;
    vertical-align: top;
  }
  .group-25-8Nx {
    display: flex;
    flex-direction: column;
    width: 104.5rem;
    height: 56.4rem;
    position: absolute;
    left: 39.3rem;
    top: 5.9rem;
    align-items: center;

    .auto-group-6esk-q2U {
      flex-shrink: 0;
      margin: 0rem 7.115rem 3.7rem 0rem;
      width: calc(100% - 7.1155rem);
      display: flex;
      align-items: flex-end;

      .this-is-it--vpc {
        font-size: 3.6rem;
        line-height: 1.2575;
        white-space: nowrap;
        display: flex;
        align-items: baseline;
        margin-right: 9.1248rem;
        font-weight: 600;
        color: #000000;
        font-family: Segoe UI, 'Source Sans Pro';
        flex-shrink: 0;

        .this-is-it--vpc-sub-0 {
          font-size: 6.4rem;
          font-weight: 600;
          line-height: 1.1625;
          color: #000000;
          font-family: Segoe UI, 'Source Sans Pro';
        }
        .this-is-it--vpc-sub-1 {
        }
      }
      .line-6-TTA {
        height: 0;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-bottom: 0.6rem;
        width: 69.7597rem;
      }
    }
    .anish-kr-sinha-is-an-indian-ui-ux-designer-front-end-developer-with-a-passion-for-designing-beautiful-and-fuctional-user-experiences-typically-hes-driven-permanently-curious-hes-obsessed-with-designing-things-and-even-more-obsessed-with-designing-cool-clean-stuff-for-the-web-and-mobile-he-has-been-in-the-business-of-creating-since-he-hung-his-first-painting-on-the-wall-when-he-was-11-he-holds-a-bachelor-degree-in-computer-applications-during-his-graduation-he-has-been-actively-involved-in-the-web-design-community-for-the-last-3-years-he-has-designed-websites-for-small-businesses-events-nonprofits-and-more-currently-hes-based-in-bihar-india-where-hes-working-as-an-independent-creative-his-interests-however-extend-beyond-the-web-and-he-loves-helping-people-with-branding-and-print-design-he-even-loves-designing-3d-floor-plan-when-hes-not-designing-hes-probably-hanging-out-with-his-girlfriend-watching-series-sketching-or-messing-around-on-something-inspired-by-youtube-tutorials-L1A {
      margin-bottom: 12.5rem;
      max-width: 104.5rem;
      font-size: 2rem;
      font-weight: 300;
      line-height: 1.2575;
      color: #000000;
      font-family: Segoe UI, 'Source Sans Pro';
      flex-shrink: 0;

      .anish-kr-sinha-is-an-indian-ui-ux-designer-front-end-developer-with-a-passion-for-designing-beautiful-and-fuctional-user-experiences-typically-hes-driven-permanently-curious-hes-obsessed-with-designing-things-and-even-more-obsessed-with-designing-cool-clean-stuff-for-the-web-and-mobile-he-has-been-in-the-business-of-creating-since-he-hung-his-first-painting-on-the-wall-when-he-was-11-he-holds-a-bachelor-degree-in-computer-applications-during-his-graduation-he-has-been-actively-involved-in-the-web-design-community-for-the-last-3-years-he-has-designed-websites-for-small-businesses-events-nonprofits-and-more-currently-hes-based-in-bihar-india-where-hes-working-as-an-independent-creative-his-interests-however-extend-beyond-the-web-and-he-loves-helping-people-with-branding-and-print-design-he-even-loves-designing-3d-floor-plan-when-hes-not-designing-hes-probably-hanging-out-with-his-girlfriend-watching-series-sketching-or-messing-around-on-something-inspired-by-youtube-tutorials-L1A-sub-0 {
      }
      .anish-kr-sinha-is-an-indian-ui-ux-designer-front-end-developer-with-a-passion-for-designing-beautiful-and-fuctional-user-experiences-typically-hes-driven-permanently-curious-hes-obsessed-with-designing-things-and-even-more-obsessed-with-designing-cool-clean-stuff-for-the-web-and-mobile-he-has-been-in-the-business-of-creating-since-he-hung-his-first-painting-on-the-wall-when-he-was-11-he-holds-a-bachelor-degree-in-computer-applications-during-his-graduation-he-has-been-actively-involved-in-the-web-design-community-for-the-last-3-years-he-has-designed-websites-for-small-businesses-events-nonprofits-and-more-currently-hes-based-in-bihar-india-where-hes-working-as-an-independent-creative-his-interests-however-extend-beyond-the-web-and-he-loves-helping-people-with-branding-and-print-design-he-even-loves-designing-3d-floor-plan-when-hes-not-designing-hes-probably-hanging-out-with-his-girlfriend-watching-series-sketching-or-messing-around-on-something-inspired-by-youtube-tutorials-L1A-sub-1 {
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.1625;
        color: #000000;
        font-family: Segoe UI, 'Source Sans Pro';
      }
      .anish-kr-sinha-is-an-indian-ui-ux-designer-front-end-developer-with-a-passion-for-designing-beautiful-and-fuctional-user-experiences-typically-hes-driven-permanently-curious-hes-obsessed-with-designing-things-and-even-more-obsessed-with-designing-cool-clean-stuff-for-the-web-and-mobile-he-has-been-in-the-business-of-creating-since-he-hung-his-first-painting-on-the-wall-when-he-was-11-he-holds-a-bachelor-degree-in-computer-applications-during-his-graduation-he-has-been-actively-involved-in-the-web-design-community-for-the-last-3-years-he-has-designed-websites-for-small-businesses-events-nonprofits-and-more-currently-hes-based-in-bihar-india-where-hes-working-as-an-independent-creative-his-interests-however-extend-beyond-the-web-and-he-loves-helping-people-with-branding-and-print-design-he-even-loves-designing-3d-floor-plan-when-hes-not-designing-hes-probably-hanging-out-with-his-girlfriend-watching-series-sketching-or-messing-around-on-something-inspired-by-youtube-tutorials-L1A-sub-2 {
      }
      .anish-kr-sinha-is-an-indian-ui-ux-designer-front-end-developer-with-a-passion-for-designing-beautiful-and-fuctional-user-experiences-typically-hes-driven-permanently-curious-hes-obsessed-with-designing-things-and-even-more-obsessed-with-designing-cool-clean-stuff-for-the-web-and-mobile-he-has-been-in-the-business-of-creating-since-he-hung-his-first-painting-on-the-wall-when-he-was-11-he-holds-a-bachelor-degree-in-computer-applications-during-his-graduation-he-has-been-actively-involved-in-the-web-design-community-for-the-last-3-years-he-has-designed-websites-for-small-businesses-events-nonprofits-and-more-currently-hes-based-in-bihar-india-where-hes-working-as-an-independent-creative-his-interests-however-extend-beyond-the-web-and-he-loves-helping-people-with-branding-and-print-design-he-even-loves-designing-3d-floor-plan-when-hes-not-designing-hes-probably-hanging-out-with-his-girlfriend-watching-series-sketching-or-messing-around-on-something-inspired-by-youtube-tutorials-L1A-sub-3 {
        font-weight: 400;
        line-height: 1.1625;
        color: #000000;
        font-family: Segoe UI, 'Source Sans Pro';
        font-size: 2rem;
      }
      .anish-kr-sinha-is-an-indian-ui-ux-designer-front-end-developer-with-a-passion-for-designing-beautiful-and-fuctional-user-experiences-typically-hes-driven-permanently-curious-hes-obsessed-with-designing-things-and-even-more-obsessed-with-designing-cool-clean-stuff-for-the-web-and-mobile-he-has-been-in-the-business-of-creating-since-he-hung-his-first-painting-on-the-wall-when-he-was-11-he-holds-a-bachelor-degree-in-computer-applications-during-his-graduation-he-has-been-actively-involved-in-the-web-design-community-for-the-last-3-years-he-has-designed-websites-for-small-businesses-events-nonprofits-and-more-currently-hes-based-in-bihar-india-where-hes-working-as-an-independent-creative-his-interests-however-extend-beyond-the-web-and-he-loves-helping-people-with-branding-and-print-design-he-even-loves-designing-3d-floor-plan-when-hes-not-designing-hes-probably-hanging-out-with-his-girlfriend-watching-series-sketching-or-messing-around-on-something-inspired-by-youtube-tutorials-L1A-sub-4 {
      }
      .anish-kr-sinha-is-an-indian-ui-ux-designer-front-end-developer-with-a-passion-for-designing-beautiful-and-fuctional-user-experiences-typically-hes-driven-permanently-curious-hes-obsessed-with-designing-things-and-even-more-obsessed-with-designing-cool-clean-stuff-for-the-web-and-mobile-he-has-been-in-the-business-of-creating-since-he-hung-his-first-painting-on-the-wall-when-he-was-11-he-holds-a-bachelor-degree-in-computer-applications-during-his-graduation-he-has-been-actively-involved-in-the-web-design-community-for-the-last-3-years-he-has-designed-websites-for-small-businesses-events-nonprofits-and-more-currently-hes-based-in-bihar-india-where-hes-working-as-an-independent-creative-his-interests-however-extend-beyond-the-web-and-he-loves-helping-people-with-branding-and-print-design-he-even-loves-designing-3d-floor-plan-when-hes-not-designing-hes-probably-hanging-out-with-his-girlfriend-watching-series-sketching-or-messing-around-on-something-inspired-by-youtube-tutorials-L1A-sub-5 {
        font-family: Segoe UI, 'Source Sans Pro';
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.1625;
        color: #000000;
      }
      .anish-kr-sinha-is-an-indian-ui-ux-designer-front-end-developer-with-a-passion-for-designing-beautiful-and-fuctional-user-experiences-typically-hes-driven-permanently-curious-hes-obsessed-with-designing-things-and-even-more-obsessed-with-designing-cool-clean-stuff-for-the-web-and-mobile-he-has-been-in-the-business-of-creating-since-he-hung-his-first-painting-on-the-wall-when-he-was-11-he-holds-a-bachelor-degree-in-computer-applications-during-his-graduation-he-has-been-actively-involved-in-the-web-design-community-for-the-last-3-years-he-has-designed-websites-for-small-businesses-events-nonprofits-and-more-currently-hes-based-in-bihar-india-where-hes-working-as-an-independent-creative-his-interests-however-extend-beyond-the-web-and-he-loves-helping-people-with-branding-and-print-design-he-even-loves-designing-3d-floor-plan-when-hes-not-designing-hes-probably-hanging-out-with-his-girlfriend-watching-series-sketching-or-messing-around-on-something-inspired-by-youtube-tutorials-L1A-sub-6 {
      }
      .anish-kr-sinha-is-an-indian-ui-ux-designer-front-end-developer-with-a-passion-for-designing-beautiful-and-fuctional-user-experiences-typically-hes-driven-permanently-curious-hes-obsessed-with-designing-things-and-even-more-obsessed-with-designing-cool-clean-stuff-for-the-web-and-mobile-he-has-been-in-the-business-of-creating-since-he-hung-his-first-painting-on-the-wall-when-he-was-11-he-holds-a-bachelor-degree-in-computer-applications-during-his-graduation-he-has-been-actively-involved-in-the-web-design-community-for-the-last-3-years-he-has-designed-websites-for-small-businesses-events-nonprofits-and-more-currently-hes-based-in-bihar-india-where-hes-working-as-an-independent-creative-his-interests-however-extend-beyond-the-web-and-he-loves-helping-people-with-branding-and-print-design-he-even-loves-designing-3d-floor-plan-when-hes-not-designing-hes-probably-hanging-out-with-his-girlfriend-watching-series-sketching-or-messing-around-on-something-inspired-by-youtube-tutorials-L1A-sub-7 {
        font-weight: 400;
        line-height: 1.1625;
        color: #000000;
        font-family: Segoe UI, 'Source Sans Pro';
        font-size: 2rem;
      }
      .anish-kr-sinha-is-an-indian-ui-ux-designer-front-end-developer-with-a-passion-for-designing-beautiful-and-fuctional-user-experiences-typically-hes-driven-permanently-curious-hes-obsessed-with-designing-things-and-even-more-obsessed-with-designing-cool-clean-stuff-for-the-web-and-mobile-he-has-been-in-the-business-of-creating-since-he-hung-his-first-painting-on-the-wall-when-he-was-11-he-holds-a-bachelor-degree-in-computer-applications-during-his-graduation-he-has-been-actively-involved-in-the-web-design-community-for-the-last-3-years-he-has-designed-websites-for-small-businesses-events-nonprofits-and-more-currently-hes-based-in-bihar-india-where-hes-working-as-an-independent-creative-his-interests-however-extend-beyond-the-web-and-he-loves-helping-people-with-branding-and-print-design-he-even-loves-designing-3d-floor-plan-when-hes-not-designing-hes-probably-hanging-out-with-his-girlfriend-watching-series-sketching-or-messing-around-on-something-inspired-by-youtube-tutorials-L1A-sub-8 {
      }
    }
    .line-7-6vg {
      margin-right: 6.5574rem;
      width: 34.8798rem;
      height: 0;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
  }
  .rectangle-qNU {
    height: 80.3465rem;
    position: absolute;
    left: 0;
    top: 10.0014rem;
    object-fit: cover;
    vertical-align: top;
    width: 58.4789rem;
  }
  .vector-3-M5v {
    object-fit: contain;
    vertical-align: top;
    width: 114.3rem;
    height: 104.7883rem;
    position: absolute;
    left: 145.075rem;
    top: 0;
  }
  .vector-4-3De {
    object-fit: contain;
    vertical-align: top;
    width: 33.8099rem;
    height: 33.8099rem;
    position: absolute;
    left: 30.7644rem;
    top: 67.5rem;
  }
}
